= link_to "Back", league_week_path(params[:league_id], params[:id])
%h2 Your teams
%table
  %tr
    %th Away
    %th 
    %th Home
    - @current_user_picks.each do |p|
      %tr
        - if @away_team_ids.include?(p.team.id)
          %td
            = p.team.name
            = render :partial => 'start_or_bench', locals: {p: p}
          %td @
          %td.opponent
            = p.team.this_weeks_opponent(params[:id]).name
        -elsif @home_team_ids.include?(p.team.id)
          %td.opponent
            = p.team.this_weeks_opponent(params[:id]).name
          %td @
          %td
            = p.team.name
            = render :partial => 'start_or_bench', locals: {p: p}
        -else
          %td = p.team.name
          %td
          %td BYE