%h1= "Week #{params[:id]}"
- unless params[:user_id]
  = link_to "Edit lineup", edit_league_week_path(params[:league_id], params[:id])
%h2 Starters
%ul.unstyled
  - @starters.each do |s|
    %li= s.team.name
%h2 Bench
%ul.unstyled
  - @bench.each do |b|
    %li= b.team.name

%h2
  = params[:user_id] ? "#{@user.first_name}'s team" : "Your Team"
%ul.unstyled
  - @user_picks.each do |p|
    %li= p.team.name