%h1= "Week #{params[:id]}"
- if !params[:user_id] && params[:id].to_i == League.find_active_week
  = link_to "Edit lineup", edit_league_week_path(params[:league_id], params[:id])
%h2 Starters
%ul.unstyled
  - @starters.each do |s|
    %li= s.team.name
%h2 Bench
%ul.unstyled
  - @bench.each do |b|
    %li= b.team.name