%h2 Weeks
%table
  %tr
    %th Week number
    %th Starters
  - Week.all.each do |week|
    %tr
      %td
        -if @active_week >= week.num
          -if params[:user_id]
            = link_to "Week #{week.num}", league_week_path(params[:id], week.num, user_id: params[:user_id])
          -else
            = link_to "Week #{week.num}", league_week_path(params[:id], week.num)
        - else
          = "Week #{week.num}"
      %td
        = @user.starters(params[:id], week.num).count