- if user_signed_in?
  - unless params[:user_id]
    .row
      .columns.three
        = render :partial => 'standings'
      .columns.nine
        %h3.league_header= "Your week #{@active_week} match-ups"
        %h3.league_header{style: "display: none"}= "All week #{@active_week} match-ups"
        %span.left_10
          =link_to "Show all", "#", class: "tiny secondary button upper show_all"
        %span.left_10
          =link_to "Show only you", "#", class: "tiny secondary button upper show_all", style: "display:none"
        - if current_user.find_teams(params[:id]).empty?
          %h3.subheader Add your teams to see matchups!
        - else
          %table.match_ups
            %tr
              %th
              %th Away
              %th 
              %th Home
              %th
              %th Date
              %th Time (PT)
            - @this_weeks_games.each do |game|
              %tr.all{:class => ("current_user" if (current_user.starters(params[:id], @active_week_id).map{|t| t.team_id} & [game.home_team_id, game.away_team_id]).present?)}
                %td
                  - if WeeklyActive.league_week(params[:id], @active_week_id).map{|w| w.team.id}.include?(game.away_team.id)
                    %span{ :class => ("owner" if game.away_team.picks.map{|p| p.users_league_id}.include?(@users_league.id))}
                      = UsersLeague.find_all_by_league_id(params[:id]).select{|ul| ul.picks.map(&:team_id).include?(game.away_team.id)}.first.try(:user).try(:first_name)
                %td
                  = game.away_team.full_name
                %td @
                %td
                  = game.home_team.full_name
                %td
                  - if WeeklyActive.league_week(params[:id], @active_week_id).map{|w| w.team.id}.include?(game.home_team.id)
                    %span{ :class => ("owner" if game.home_team.picks.map{|p| p.users_league_id}.include?(@users_league.id))}
                      = UsersLeague.find_all_by_league_id(params[:id]).select{|ul| ul.picks.map(&:team_id).include?(game.home_team.id)}.first.try(:user).try(:first_name)
                %td=(game.gametime - 7.hours).strftime("%a") 
                %td=(game.gametime - 7.hours).strftime("%I:%M %p")
    .row.top_10
      .columns.six
        %h3.betterHeadline= "Post a Comment"
        %span#league_id{ value: current_league.id}
        - if current_user.present?
          %span#comment_user_id{ value: current_user.id }
        - else
          %span#comment_user_id{ value: 0 }
        = content_tag "div", "Loading...", id: "comments_container", data: {entries: Comment.prepare_data(current_league.id)}
  -else
    %div= link_to "Back to League", league_path(current_league)
    %h3= "#{@user.first_name}'s teams"
    %table
      %tr
        %th Team
        %th W
        %th L
      - @users_league.picks.each do |p|
        %tr
          %td= p.team.name
          %td= p.team.wins(2012)
          %td= p.team.losses(2012)
      
  
- else
  = link_to 'Sign up', new_user_registration_path
  = link_to 'Login', new_user_session_path

- content_for :page_javascript do
  :coffeescript
    $ ->
      @collection = new Comments()
      @collection.reset($('#comments_container').data('entries'))
      view       = new CommentsView(collection: @collection)
      $('#comments_container').html(view.render().el)
      $("abbr.timeago").timeago()
      $('body').on('ajaxComplete', ->
        $("abbr.timeago").timeago())
