- if user_signed_in?
  %h2 Leagues

  - if @current_user_leagues.present?
    %h3 Your leagues
    %table
      %tr
        %th League name
        %th Rank
      - @current_user_leagues.each do |league|
        %tr
          %td
            = link_to league.name, league_path(league)
          %td
            = (UsersLeague.find_by_user_id_and_league_id(current_user.id, league.id).current_rank + 1)
            of
            = league.users.count
  %h3 All leagues
  %table
    %tr
      %th League name
      %th # players
      %th
    - @all_leagues.each do |league|
      %tr
        %td= league.name
        %td= league.users.count
        %td
          -if @current_user_leagues.include?(league)
            = "Joined"
          -elsif league.users.count == 6 || league.name == "2012 Season"
            Full
          -else
            = link_to "Join", join_league_path(league)
  
- else
  = link_to 'Sign up', new_user_registration_path
  = link_to 'Login', new_user_session_path

/ = link_to "Parse", "#", class: "parse_espn"


%ul.placeholder.unstyled