= form_for Pick.new, html: {class: "custom"} do |f|
  = f.hidden_field :user_id, value: current_user.id
  = f.hidden_field :league_id, value: params[:id]
  / = f.label :league
  / = f.select :league_id, options_from_collection_for_select(@joined_leagues, :id, :name)
  = f.label :team
  = f.select :team_id, options_from_collection_for_select(@all_available_teams, :id, :full_name)
  = f.submit "Select", class: "primary button"

= render :partial => 'list'