%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title FFB Lite
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34418574-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body{ :class => "#{params[:controller]} #{params[:action]}", :data => { :controller => params[:controller], :action => params[:action] }}
    = render partial: "shared/header"
    .row
      .columns.twelve
        - if flash[:alert]
          = content_tag :div, :id => "flash_name", :class => "alert-box alert" do
            = flash[:alert]
            %a.close{href:""} ×
        - if flash[:success]
          = content_tag :div, :id => "flash_name", :class => "alert-box success" do
            = flash[:success]
            %a.close{href:""} ×
        - if flash[:notice]
          = content_tag :div, :id => "flash_name", :class => "alert-box" do
            = flash[:notice]
            %a.close{href:""} ×
        = yield
        .top_50
          = debug(params) if Rails.env.development?

    = yield :page_javascript